/* CSS styles for grids created by [Riccardo Ragazzo, 2024] */

/* Grid container styles */
.grid-container {
  display: grid; /* Enable grid layout */
  grid-template-columns: 3fr 1fr; /* Create 2 columns - REMOVED FOR NOW */
  /*grid-template-rows: 1fr 0.5fr; /* Create 2 rows - REMOVED FOR NOW */
  gap: 10px; /* Add space between grid items */
  width: 80%; /* Set the width of the grid container */
  max-width: 1200px; /* Maximum width of the grid container */
  padding: 10px ; /* Padding inside the grid container */
  background-color: transparent; /* Set background color */
  border: 2px solid white; /* Add a solid border around the container */
  border-radius: 4%; /* Slightly rounded corners - change the radius for more */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  align-items: center; /* Align items at the center of the container */
  align-content: center; /* Align content at the center of the container */
  margin: 10px; /* Add some space around the grid container */
}

/* Grid item styles */
.grid-item {
  display: flex; /* Use flexbox for inner content alignment */
  align-items: center; /* Vertically center content inside the grid item */
  justify-content: center; /* Horizontally center content inside the grid item */
  background-color: #000000a1; /* Set background color to black with a bit of transparency */
  border: 1px solid white; /* Add a border around each grid item */
  border-radius: 4%; /* Slightly rounded corners - change the radius for more */
  padding: 10px; /* Padding inside each grid item */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  cursor: pointer; /* Change the cursor to a pointing hand when hovering */
  transition: transform 0.3s;
}

/* Enlarge for JavaScript */
.grid-item.enlarged {
  transform: scale(1.7); /* Enlarge the item */
  z-index: 1.5; /* Ensure it appears above other elements */

  /* Tryout for JavaScript */
  font-size: 64px;
  color: rgb(6, 170, 55);
}
.grid-item.enlarged-text {
  font-size: 64px;
  color: rgb(6, 170, 55);
}

/* Effects for the item on hover*/
.grid-item:hover {
  /*transform: scale(1.08); /* Scale the image on hover */
  border: 3px solid rgba(0, 17, 255, 0.753); /* Add a border around each grid item */
}


/* Ensure that the image scales and maintain its proportions */
.image-adjust {
  max-width: 100%; /* Adjusts to the width of its container */
  height: auto; /* Keeps the aspect ratio */
  transition: transform 0.3s; /* Add a transition effect */

}
